<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/main_profile.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>


<div class="container_fluid" style="margin-top: 30px" >
    <section class="container text-right">
        <div class="btn-toolbar">
            <button type="button" class="btn btn-warning" onclick="gotoDashboard()">
                <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Dashboard</button>
            <button type="button" class="btn btn-primary" onclick="goToLogOut()">LogOut</button>
            <script>
                
                
                function gotoDashboard() {
                    location.href="/dashboard";
                }
                
                function goToLogOut() {
                    location.href = "/logout";
                }

                function callSearch() {
                    location.href = "/personalized_search/" + document.getElementById('srch-term').value;
                }

                function postByTags() {

                    var fired_button = $(this).val();
                    location.href = "/personalized_tag_search/" + fired_button;
                }
            </script>
        </div>
    </section>


    <input class="form-control-custom" placeholder="Search" name="srch-term" id="srch-term" type="text">
    <button class="btn btn-default" type="submit" onclick="callSearch()" id="searchButton" style="visibility: hidden"><i
                class="glyphicon glyphicon-search"></i></button>
    <script>
        $("#srch-term").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#searchButton").click();
            }
        });

        function change_glyph() {
            var url_id=$(this).attr('id');
            var stringInput = url_id.replace("\"", "").replace("\\", "");
            stringInput = stringInput.substr(0, stringInput.length - 2);
            $(this).toggleClass('glyphicon-star-empty').toggleClass('glyphicon-star');
            if($(this).attr('class')==='glyphicon glyphicon-star-empty') {
                $.ajax({
                    type: "GET",
                    url: "/remove_from_favorite/" + stringInput
                })
            }
            else if ($(this).attr('class')==='glyphicon glyphicon-star'){
                $.ajax({
                    type: "GET",
                    url: "/add_to_favorite/" + stringInput
                })
            }

        }
        function changeVotes() {
            var url_id=$(this).attr('id');
            var stringInput = url_id.replace("\"", "").replace("\\", "");
            stringInput = stringInput.substr(0, stringInput.length - 2);
            if(stringInput.startsWith('Voted up :')){
                $.ajax({
                    type: "GET",
                    url: "/vote_up/" + stringInput.substr(10)

                })
            }
            else{
                $.ajax({
                    type: "GET",
                    url: "/vote_down/" + stringInput.substr(12)
                })
            }
            window.setTimeout(function () {
                location.reload(true);
            },500);

        }

    </script>

    <div class="section1">

        <% function beautifyOutput(input) {
            var stringInput = input.replace("\"", "").replace("\\", "")
            stringInput = stringInput.substr(0, stringInput.length - 2)
            return stringInput;
        } for (var i = 0; i < posts.length; i++) { %>
        <table id="contentTable" class="post_table">
            <tr>
                <td class="posts" colspan="50">

                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"
                          style="color: #5e5e5e;padding-left: 10px" onclick="changeVotes.call(this)" id="Voted up :<%= posts[i].title %>"></span> <%= posts[i].vote %>
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"
                          style="color: #5e5e5e;padding-left: 2px" onclick="changeVotes.call(this)" id="Voted down :<%= posts[i].title %>"></span>

                    <a href="" style="padding-left: 70px" class="clicked_post">

                        <%= beautifyOutput(posts[i].title) %>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="50">

                    <span id="<%= posts[i].title %>" class="glyphicon glyphicon-star-empty" aria-hidden="true"
                          style="color: #5e5e5e;font-size: 26px;padding-left: 26px;padding-top: 10px"
                          onclick="change_glyph.call(this)"></span>

                    <span style="padding-left: 90px">

                        <% var string = posts[i].tag;
                            var res = string.split(" ");
                            var stringArray = [];
                            for (var j = 0; j < res.length; j++) {
                                if (res[j] != 'java') {
                                    stringArray.push(res[j]);
                                }
                            }

                        for (var k = 0;k < stringArray.length - 1;k++){ %>

                        <button type="submit" class="btn btn-info" value='<%= stringArray[k] %>'
                                onclick="postByTags.call(this)"><%= stringArray[k] %></button>

                        <% } %>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="last_td" style="padding-top: 10px"></td>
            </tr>
        </table>


        <% } %>

        </table>
        <% if (pages > 0) { %>
        <ul class="pagination text-center" style="padding-left: 200px ">
            <% if (current == 1) { %>
            <li class="disabled"><a>First</a></li>
            <% } else { %>
            <li><a href="/personalized_post/1">First</a></li>
            <% } %>
            <% i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
            <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
            <li class="active"><a><%= i %></a></li>
            <% } else { %>
            <li><a href="/personalized_post/<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="disabled"><a>...</a></li>
            <% } %>
            <% } %>
            <% if (current == pages) { %>
            <li class="disabled"><a>Last</a></li>
            <% } else { %>
            <li><a href="/personalized_post/<%= pages %>">Last</a></li>
            <% } %>
        </ul>
        <% } %>
    </div>
    <div class="section2">
        <h5 style="font-size: 14px;text-indent:-2px;margin-left:10px"><u>Posts You May Like</u></h5>
        <% for (var i=0;i<content_based_recommendation_posts.length;i++){%>
        <table style="float: right;display: inline-block;">
            <tr class="spaceUnder">
                <p style="font-size: 13px;text-indent:-2px;margin-left:10px;color: red">

                    <a href="" class="clicked_post">

                        <%= beautifyOutput(content_based_recommendation_posts[i].title) %>
                    </a>

                </p>
            </tr>
        <%}%>
        </table>

        <h5 style="font-size: 14px;text-indent:-2px;margin-left:10px;padding-top: 10px"><u>Posts Others have Liked</u></h5>
        <% for (var i=0;i<collaborative_based_recommendation_posts.length;i++){%>
        <table style="float: right;display: inline-block;">
            <tr class="spaceUnder">
                <p style="font-size: 13px;text-indent:-2px;margin-left:10px">
                    <a href="" class="clicked_post">

                        <%= beautifyOutput(collaborative_based_recommendation_posts[i].title) %>
                    </a>

                </p>
            </tr>
            <%}%>
        </table>
    </div>


    <script>


        function escapeHtml(input) {
            var map = {
                '&': '&amp;',
                "/": '_'
            };

            return input.replace(/[&/]/g, function (key) {
                return map[key];
            });
        }

        $(function () {
            $('.clicked_post').click(function () {
                var context = String(escapeHtml($(this).text().trim()));
                var url = "/fetch_personalized_post/" + context;
                $('a').attr('href', url)
            });
        });

    </script>
</div>
</body>
</html>